In [10]:
import pandas as pd

In [11]:
# Fetch historical data
tickers= ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA']
folder = "data"

# Load historical data from CSV
data = {}
for ticker in tickers:
    df = pd.read_csv(f"{folder}/{ticker}.csv", index_col='Date', parse_dates=True)
    data[ticker] = df

In [3]:
#import stockstats
#for ticker in tickers:
#    stock_df = data[ticker]['Close'].to_frame(name='close')
#    stock = stockstats.StockDataFrame.retype(stock_df)
 #   stock_df['sma'] = stock['close_14_sma']
  #  stock_df['ema'] = stock['close_14_ema']
   # stock_df['rsi'] = stock['rsi_14']
    #stock_df['macd'] = stock['macdh']

In [4]:
#stock_df.head()

In [12]:
# Drop NaN values
df= df.dropna()

In [6]:
#stock_df=stock_df.dropna()

In [7]:
#stock_df

In [8]:
#stock_df.tail()

In [9]:
df.describe()

,Adj Close,Close,High,Low,Open,Volume
count,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3.150000e+03
mean,58.807496,58.807496,60.176703,57.402961,58.860577,9.359654e+07
std,95.526397,95.526397,97.854579,93.175266,95.658595,8.169856e+07
min,1.053333,1.053333,1.108667,0.998667,1.076000,1.777500e+06
25%,8.957666,8.957666,9.117500,8.765667,8.976167,4.234658e+07
50%,16.222334,16.222334,16.491000,15.945000,16.229000,7.596600e+07
75%,24.448000,24.448000,25.086666,24.158668,24.622500,1.172978e+08
max,409.970001,409.970001,414.496674,405.666656,411.470001,9.140820e+08

## Fundamental Data